<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        
        <form action="/posts/crearPost" method="post" enctype="multipart/form-data">
            <% if (locals.errors){ %>
                <h4>
                    <%= locals.errors.message %>
                </h4>
            <% } %>
            <div>
                <label for="Imagen">Imagen</label>
                <input class="agregarpost1" type="file" name="foto" id="" placeholder="Imagen">
            </div>
            <div>
                <label for="post">texto</label>
                <input class="agregarpost2" type="text" name="texto" id="" placeholder="escribi un texto ">
            </div>
            <button class="agregarpost3" type="submit">Crear post</button>
        </form>
    </section>
</main>

    <%- include('./partials/footer') %>

</body>

</html>