<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>

    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
            <article class="post">
                <div class="info-usuario ">
                    <img class="foto-usuario" src="img/FOTO11.jpeg" alt="">
                    <h4>
                        <a href="/users/detalleUsuario">Usuario</a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/posts/detallePost">
                        <img src="img/kris jenner foto.jpg" alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <a href="/posts/detallePost">Ver m치s...</a>
                    </ul>
                </div>
            </article>
            <article class="post">
                <div class="info-usuario ">
                    <img class="foto-usuario" src="img/FOTO11.jpeg" alt="">
                    <h4>
                        <a href="/users/detalleUsuario">Usuario</a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/posts/detallePost">
                        <img src="img/kendall jenner foto.jpg" alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <a href="/posts/detallePost">Ver m치s...</a>
                    </ul>
                </div>
            </article>
            <article class="post">
                <div class="info-usuario ">
                    <img class="foto-usuario" src="img/FOTO11.jpeg" alt="">
                    <h4>
                        <a href="img/FOTO4.jpeg">Usuario</a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/posts/detallePost">
                        <img src="img/Kylie jenner foto.jpg"alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <a href="/posts/detallePost">Ver m치s...</a>
                    </ul>
                </div>
            </article>
            <article class="post">
                <div class="info-usuario ">
                    <img class="foto-usuario" src=".." alt="">
                    <h4>
                        <a href="/users/detalleUsuario">Usuario</a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/posts/detallePost">
                        <img src="img/kim kardashian.jpg" alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <li>
                            <a href="/users/detalleUsuario">Usuario</a>
                            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                        </li>
                        <a href="/posts/detallePost">Ver m치s...</a>
                    </ul>
                </div>
            </article>
        </section>    
    </main>

    <%- include('./partials/footer') %>

</body>

</html>