<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <form action="/users/login" method="post">
            <% if (locals.errors){ %>
                <h4>
                    <%= locals.errors.message %>
                </h4>
            <% } %>
        <div>
            <label for="Email">Email</label>
            <input class="cajalogin" type="Email" name="email" id="" placeholder="Inserta tu email">
        </div>
        <div>
            <label for="Password">Contraseña</label>
            <input class="cajalogin1" type="Password" name="password" id="">
        </div>
        <div>
            <label for="Password">Recordarme</label>
            <input class="cajalogin1" type="checkbox" name="recordar" id="">
        </div>
        <button class="buttonlogeate" type="submit">Logeate</button>

    </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>